body {
  background-color: #1289a7;
  margin: 50px;
}

.main {
  text-align: center;
  margin-top: 30px;
}
.titol {
  font-family: "Dancing Script", cursive;
  color: wheat;
  font-size: 50px;
}
.btn {
  margin-top: 50px;
  float: center;

  
}
#login,#registre{
  margin-top: 50px;
  float: center;
  font-size: 25px;
}
footer {
  text-align: center;
  margin-top: 150px;
  font-family: "Dancing Script", cursive;
  color: wheat;
  font-size: 25px;
}

/* LOGIN.HTML I REGISTRE.HTML*/

h2 {
  text-align: center;
  color: wheat;
  font-family: "Dancing Script", cursive;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 50px;
}

form {
  margin: auto;
  width: 50%;
  max-width: 500px;
  background-color: transparent;
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
label {
  font-family: "Dancing Script", cursive;
  color: wheat;
  text-align: center;
  font-size: 25px;
}
#enviar,
#enviarRegistre,
#buscar {
  width: 100%;
}
::placeholder {
  font-family: "Dancing Script", cursive;
  font-size: 20px;
}

/* OPCIONS.PHP */
h1 {
  font-family: "Dancing Script", cursive;
  color: wheat;
  text-align: center;
  padding: 80px;
  font-size: 60px;
}
#sessio {
  margin-top: auto;
  float: right;
}
.opcions {
  font-family: "Dancing Script", cursive;
}
#botoOpcions{
  margin-top: 50px;
  float: center;
  font-size: 25px;
}
h3 {
  text-align: center;
  color: black;
  font-family: "Dancing Script", cursive;
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 40px;
}
a {
  margin: auto;
}
#tornar{
  margin-left:585px;
}
/*CONSULTA.PHP*/

table,
th,
td {
  border: hidden;
  border-collapse: collapse;
  margin: auto;
}
th,
td {
  padding: 15px;
}
th {
  text-align: left;
  font-size: 40px;
  color: black;
  font-family: "Dancing Script", cursive;
}
td {
  font-size: 25px;
  color: wheat;
  font-family: "Dancing Script", cursive;
}
